.h1 {
  font-size: 38px;
  color: #181818;
  font-weight: bolder;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.h2 {
  font-size: 29px;
  color: #181818;
  font-weight: bolder;
  text-transform: uppercase;
  margin-bottom: 22px;
}

.p {
  font-size: 15px;
  color: #414141;
}
