@import 'src/styles/colors.scss';
@import 'src/styles/breakpoints.scss';

.container {
  margin-top: 160px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-color: $terciary;
  width: 100%;
  border-radius: 3px;
  height: 180px;
  position: relative;

  @media screen and (max-width: $md) {
    margin-top: 135px;
  }

  @media screen and (max-width: $xs) {
    max-width: 300px;
  }
}

.image {
  position: absolute;
  top: -45%;
  max-height: 90%;
  margin-bottom: 20px;
}

.icon {
  font-size: 22px;
  transform: translateY(6px);
  color: $secondary;
}
