@import 'src/styles/colors.scss';
@import 'src/styles/breakpoints.scss';

.container {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: $primary;
  display: flex;
  justify-content: center;

  @media screen and (max-width: $sm) {
    padding-top: 15px;
    padding-bottom: 15px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 500;
  }
}

.logo {
  width: 120px;
  margin-right: auto;
}

.navigation {
  display: flex;
  align-items: center;

  span {
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    margin: 0 16px 0 16px;
  }
}

.button {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.buttonIcon {
  margin-left: auto;
  color: white;
  font-size: 21px;
}
