@import 'src/styles/colors.scss';
@import 'src/styles/breakpoints.scss';

.container {
  margin-top: 120px;
  padding-top: 35px;
  padding-bottom: 35px;
  background-color: $primary;

  @media screen and (max-width: $xs) {
    margin-top: 70px;
  }
}

.flexContainer {
  display: flex;
  padding-bottom: 20px;
  padding-top: 20px;

  @media screen and (max-width: $xs) {
    flex-direction: column;
  }
}

.text {
  color: rgba(255, 255, 255, 0.5);
  font-size: 15px;
}

.logo {
  width: 120px;
  margin-right: auto;
}

.navigation {
  span {
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    margin-left: 32px;
  }
}

.description {
  width: 50%;

  @media screen and (max-width: $sm) {
    width: 70%;
  }

  @media screen and (max-width: $xs) {
    width: 100%;
  }
}

.networksContainer {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  margin-top: auto;

  @media screen and (max-width: $sm) {
    width: 30%;
  }

  @media screen and (max-width: $xs) {
    justify-content: flex-start;
    margin-top: 30px;
  }

  svg {
    color: white;
    font-size: 24px;
    margin-left: 9px;

    @media screen and (max-width: $xs) {
      margin-left: 0;
      margin-right: 9px;
    }
  }
}

.copyright {
  padding-bottom: 20px;
  padding-top: 20px;
}
