@import 'src/styles/colors.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $terciary;
  margin-bottom: 20px;

  &::after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }

  img {
    max-width: 50%;
  }
}
