.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 233, 245, 0.104);
  margin-bottom: 20px;

  &::after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }

  img {
    max-width: 50%;
  }
}
