@import 'src/styles/colors.scss';
@import 'src/styles/breakpoints.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: $xs) {
    max-width: 300px;
  }
}

.imageContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $terciary;
  margin-bottom: 20px;

  &::after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }

  img {
    max-width: 50%;
  }
}
